In [1]:
# https://dplyr.tidyverse.org/reference/across.html
from plyrda.data import iris
from plyrda.all import *

In [2]:
# round not changing dtypes (Series.round)
iris >> mutate(across(c(f['Sepal.Length'], f['Sepal.Width']), round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris >> mutate(across([0, 1], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# index is 0-based, stop of slice is included
iris >> mutate(across(f[0:f['Sepal.Width']], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# to exclude stop of slice
iris >> mutate(across(f[0:f['Sepal.Width']:0], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          3.5           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.2           1.3          0.2     setosa
3             5.0          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.5           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.4           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
iris >> mutate(across(where(is_double) & ~c(f['Petal.Length'], f['Petal.Width']), round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
iris = iris >> mutate(Species=as_categorical(f.Species))
iris.dtypes

Sepal.Length     float64
Sepal.Width      float64
Petal.Length     float64
Petal.Width      float64
Species         category
dtype: object

In [8]:
iris = iris >> mutate(across(where(is_categorical), as_character))
iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [9]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, na_rm=True)
)

      Species  Sepal.Length  Sepal.Width
0      setosa         5.006        3.428
1  versicolor         5.936        2.770
2   virginica         6.588        2.974

In [10]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd))
)

,Species,Sepal.Length_mean,Sepal.Length_sd,Sepal.Width_mean,Sepal.Width_sd
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [11]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, _names = "mean_{_col}")
)

      Species  mean_Sepal.Length  mean_Sepal.Width
0      setosa              5.006             3.428
1  versicolor              5.936             2.770
2   virginica              6.588             2.974

In [12]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd), _names = "{_col}.{_fn}")
)

,Species,Sepal.Length.mean,Sepal.Length.sd,Sepal.Width.mean,Sepal.Width.sd
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [13]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), [mean, sd], _names = "{_col}.fn{_fn}")
)

,Species,Sepal.Length.fn1,Sepal.Length.fn2,Sepal.Width.fn1,Sepal.Width.fn2
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [14]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), [mean, sd], _names = "{_col}.fn{_fn0}")
)

,Species,Sepal.Length.fn0,Sepal.Length.fn1,Sepal.Width.fn0,Sepal.Width.fn1
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [15]:
iris >> filter(if_any(ends_with("Width"), lambda x: x > 4))

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

In [16]:
iris >> filter(if_all(ends_with("Width"), lambda x: x > 2))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
100           6.3          3.3           6.0          2.5  virginica
102           7.1          3.0           5.9          2.1  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
109           7.2          3.6           6.1          2.5  virginica
112           6.8          3.0           5.5          2.1  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
124           6.7          3.3           5.7          2.1  virginica
128           6.4          2.8           5.6          2.1  virginica
132           6.4          2.8           5.6          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
148           6.2          3.4           5.4          2.3  virginica

In [17]:
df = DataFrame(dict(
    id=[1, 2, 3, 4], 
    w=runif(4), 
    x=runif(4), 
    y=runif(4), 
    z=runif(4)
))
df >> rowwise() >> mutate(
    sum = c_across(f[f.w:f.z], sum), # function has to be called inside c_across
    sd = c_across(f[f.w:f.z], sd)
)

   id         w         x         y         z       sum        sd
0   1  0.536013  0.890590  0.866514  0.388157  2.681274  0.248103
1   2  0.374803  0.940924  0.867179  0.726884  2.909791  0.251300
2   3  0.714910  0.824002  0.573443  0.450114  2.562470  0.163252
3   4  0.267690  0.081863  0.040859  0.402550  0.792961  0.168204