In [1]:
# https://dplyr.tidyverse.org/reference/across.html
from datar.datasets import iris
from datar.all import *

In [2]:
# round not changing dtypes (Series.round)
iris >> mutate(across(c(f.Sepal_Length, f.Sepal_Width), round))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris >> mutate(across([0, 1], round))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# index is 0-based, stop of slice is included
iris >> mutate(across(f[0:f.Sepal_Width], round))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# to exclude stop of slice
iris >> mutate(across(f[0:f['Sepal_Width']:0], round))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.0          3.5           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.2           1.3          0.2     setosa
3             5.0          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.5           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.4           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
iris >> mutate(across(where(is_double) & ~c(f['Petal_Length'], f['Petal_Width']), round))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
iris = iris >> mutate(Species=as_categorical(f.Species))
iris.dtypes

Sepal_Length     float64
Sepal_Width      float64
Petal_Length     float64
Petal_Width      float64
Species         category
dtype: object

In [8]:
iris = iris >> mutate(across(where(is_categorical), as_character))
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [9]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, na_rm=True)
)

      Species  Sepal_Length  Sepal_Width
0      setosa         5.006        3.428
1  versicolor         5.936        2.770
2   virginica         6.588        2.974

In [10]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd))
)

,Species,Sepal_Length_mean,Sepal_Length_sd,Sepal_Width_mean,Sepal_Width_sd
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [11]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, _names = "mean_{_col}")
)

      Species  mean_Sepal_Length  mean_Sepal_Width
0      setosa              5.006             3.428
1  versicolor              5.936             2.770
2   virginica              6.588             2.974

In [12]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd), _names = "{_col}.{_fn}")
)

,Species,Sepal_Length.mean,Sepal_Length.sd,Sepal_Width.mean,Sepal_Width.sd
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [13]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), [mean, sd], _names = "{_col}.fn{_fn}")
)

,Species,Sepal_Length.fn1,Sepal_Length.fn2,Sepal_Width.fn1,Sepal_Width.fn2
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [14]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), [mean, sd], _names = "{_col}.fn{_fn0}")
)

,Species,Sepal_Length.fn0,Sepal_Length.fn1,Sepal_Width.fn0,Sepal_Width.fn1
0,setosa,5.006,0.352490,3.428,0.379064
1,versicolor,5.936,0.516171,2.770,0.313798
2,virginica,6.588,0.635880,2.974,0.322497

In [15]:
iris >> filter(if_any(ends_with("Width"), lambda x: x > 4))

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

In [16]:
iris >> filter(if_all(ends_with("Width"), lambda x: x > 2))

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
100           6.3          3.3           6.0          2.5  virginica
102           7.1          3.0           5.9          2.1  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
109           7.2          3.6           6.1          2.5  virginica
112           6.8          3.0           5.5          2.1  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
124           6.7          3.3           5.7          2.1  virginica
128           6.4          2.8           5.6          2.1  virginica
132           6.4          2.8           5.6          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
148           6.2          3.4           5.4          2.3  virginica

In [19]:
df = tibble(
    id=[1, 2, 3, 4], 
    w=runif(4), 
    x=runif(4), 
    y=runif(4), 
    z=runif(4)
)
df >> rowwise() >> mutate(
    sum = c_across(f[f.w:f.z], sum), # function has to be called inside c_across
    sd = c_across(f[f.w:f.z], sd)
)

   id         w         x         y         z       sum        sd
0   1  0.204570  0.007107  0.583003  0.671877  1.466556  0.313854
1   2  0.906496  0.835401  0.122723  0.073853  1.938472  0.447484
2   3  0.496075  0.756018  0.749663  0.469880  2.471636  0.156194
3   4  0.331255  0.452872  0.043616  0.572177  1.399920  0.226692