In [1]:
# https://dplyr.tidyverse.org/reference/across.html
import numpy

from plyrda.data import iris
from plyrda.all import *

In [2]:
# round not changing dtypes (Series.round)
iris >> mutate(across(c(f['Sepal.Length'], f['Sepal.Width']), round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris >> mutate(across([0, 1], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# index is 0-based, stop of slice is included
iris >> mutate(across(f[0:f['Sepal.Width']], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# to exclude stop of slice
iris >> mutate(across(f[0:f['Sepal.Width']:0], round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          3.5           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.2           1.3          0.2     setosa
3             5.0          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.5           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.4           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
iris >> mutate(across(where(is_double) & ~c(f['Petal.Length'], f['Petal.Width']), round))

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.0          4.0           1.4          0.2     setosa
1             5.0          3.0           1.4          0.2     setosa
2             5.0          3.0           1.3          0.2     setosa
3             5.0          3.0           1.5          0.2     setosa
4             5.0          4.0           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           7.0          3.0           5.2          2.3  virginica
146           6.0          2.0           5.0          1.9  virginica
147           6.0          3.0           5.2          2.0  virginica
148           6.0          3.0           5.4          2.3  virginica
149           6.0          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
iris = iris >> mutate(Species=as_categorical(f.Species))
iris.dtypes

Sepal.Length     float64
Sepal.Width      float64
Petal.Length     float64
Petal.Width      float64
Species         category
dtype: object

In [8]:
iris = iris >> mutate(across(where(is_categorical), as_character))
iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [24]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, na_rm=True)
)

      Species  Sepal.Length  Sepal.Width
0      setosa         5.006        3.428
1  versicolor         5.936        2.770
2   virginica         6.588        2.974

In [19]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd))
)

,Species,Sepal.Length_mean,Sepal.Length_sd,Sepal.Width_mean,Sepal.Width_sd
0,setosa,NaN,0.352490,3.428,0.379064
1,versicolor,NaN,0.516171,2.770,0.313798
2,virginica,NaN,0.635880,2.974,0.322497

In [22]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), mean, _names = "mean_{_col}")
)

      Species mean_Sepal.Length  mean_Sepal.Width
0      setosa               NaN             3.428
1  versicolor               NaN             2.770
2   virginica               NaN             2.974

In [12]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), dict(mean=mean, sd=sd), _names = "{_col}.{_fn}")
)

,Species,Sepal.Length.mean,Sepal.Length.sd,Sepal.Width.mean,Sepal.Width.sd
0,setosa,NaN,0.352490,3.428,0.379064
1,versicolor,NaN,0.516171,2.770,0.313798
2,virginica,NaN,0.635880,2.974,0.322497

In [13]:
iris >> group_by(f.Species) >> summarise(
    across(starts_with("Sepal"), [mean, sd], _names = "{_col}.fn{_fn}")
)

,Species,Sepal.Length.fn1,Sepal.Length.fn2,Sepal.Width.fn1,Sepal.Width.fn2
0,setosa,NaN,0.352490,3.428,0.379064
1,versicolor,NaN,0.516171,2.770,0.313798
2,virginica,NaN,0.635880,2.974,0.322497

In [23]:
runif = numpy.random.default_rng(8525).random
df = DataFrame(dict(
    id=[1, 2, 3, 4], 
    w=runif(4), 
    x=runif(4), 
    y=runif(4), 
    z=runif(4)
))
df >> rowwise() >> mutate(
    sum = c_across(f[f.w:f.z], sum), # function has to be called inside c_across
    sd = c_across(f[f.w:f.z], sd)
)

TypeError: Index(...) must be called with a collection of some kind, True was passed