In [3]:
# https://dplyr.tidyverse.org/reference/between.html

from datar.datasets import starwars
from datar.all import *

In [5]:
between(range(1, 13), 7, 9)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9     False
10    False
11    False
dtype: bool

In [9]:
x = rnorm(100)
x[between(x, -1, 1)]

array([ 0.88053148, -0.5351542 ,  0.47564723, -0.19307227, -0.28602512,
       -0.00822481, -0.41392545,  0.26630982,  0.13285379,  0.24227996,
        0.41755305, -0.69736888, -0.72390425,  0.21258702,  0.28975535,
        0.72626841,  0.10291894,  0.85700353, -0.25442961,  0.11728744,
        0.54529179,  0.08898517,  0.04798773, -0.58060331,  0.78023119,
       -0.28043406,  0.97063715,  0.43759287,  0.69674501, -0.19616799,
       -0.60318492, -0.08496449,  0.73840085,  0.2638862 ,  0.32608722,
       -0.62350829, -0.28049812,  0.10954724,  0.81647738,  0.24890757,
        0.50733862,  0.99845194,  0.61920947,  0.67987384,  0.92613896,
       -0.4026945 , -0.5155664 ,  0.57855208,  0.29903044,  0.61692408,
       -0.05965839, -0.43687307,  0.99029965,  0.5494035 , -0.46630694,
        0.92380197,  0.82790729, -0.70980125, -0.21627509,  0.73339347,
        0.19704249, -0.26683036,  0.46680121, -0.54279255, -0.45049086,
       -0.02378481,  0.25545022,  0.46919449,  0.46910124, -0.03904592,
       -0.99363742, -0.36300745, -0.82733344,  0.09962891])

In [10]:
starwars >> filter(between(f.height, 100, 150))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
38,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
45,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto

In [14]:
starwars >> filter(100 <= f.height <= 150) # not as expected

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
18,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
28,Wicket Systri Warrick,88.0,20.0,brown,brown,brown,8.0,male,masculine,Endor,Ewok
37,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
38,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
44,Dud Bolt,94.0,45.0,none,"blue, grey",yellow,NaN,male,masculine,Vulpter,Vulptereen
45,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
71,Ratts Tyerell,79.0,15.0,none,"grey, blue",unknown,NaN,male,masculine,Aleen Minor,Aleena
72,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid