In [1]:
# https://dplyr.tidyverse.org/reference/coalesce.html
from plyrda.data import starwars 
from plyrda.all import *

In [2]:
df = tibble(x=[5,4,3,NA,2,NA,1,NA])
df >> mutate(y=coalesce(f.x, 0)) >> pull(f.y)

array([5., 4., 3., 0., 2., 0., 1., 0.])

In [3]:
df = tibble(
    y=[1,2,NA,NA,5],
    z=[NA,NA,3,4,5]
)
df >> mutate(m=coalesce(f.y, f.z)) >> pull(f.m)

array([1., 2., 3., 4., 5.])