In [1]:
# https://dplyr.tidyverse.org/reference/context.html
from datar.all import *

In [2]:
df = tibble(
  g=['a'] + ['b'] * 2 + ['c'] * 3,
  x=runif(6),
  y=runif(6)
)
gf = df >> group_by(f.g)

gf >> summarise(n = n())

   g  n
0  a  1
1  b  2
2  c  3

In [3]:
gf >> mutate(id=cur_group_id()) >> ungroup()

   g         x         y  id
0  a  0.094233  0.748887   0
1  b  0.992546  0.122252   1
2  b  0.093906  0.954942   1
3  c  0.954324  0.237139   2
4  c  0.385214  0.490378   2
5  c  0.987831  0.868551   2

In [4]:
gf >> summarise(row=cur_group_rows())

   g        row
0  a        [0]
1  b     [1, 2]
2  c  [3, 4, 5]

In [5]:
gf_group = gf >> summarise(data=cur_group())
gf_group

   index       data
0      0     g
0  a
1      1     g
0  b
2      2     g
0  c

In [6]:
gf_group >> pull(f.data, to_list=True)

[   g
 0  a,
    g
 0  b,
    g
 0  c]

In [7]:
gf_data = gf >> summarise(data=cur_data())
gf_data

   index                                               data
0      0                  x         y
0  0.094233  0.748887
1      1            x         y
1  0.992546  0.122252
2 ...
2      2            x         y
3  0.954324  0.237139
4 ...

In [8]:
gf_data >> pull(f.data, to_list=True)

[          x         y
 0  0.094233  0.748887,
           x         y
 1  0.992546  0.122252
 2  0.093906  0.954942,
           x         y
 3  0.954324  0.237139
 4  0.385214  0.490378
 5  0.987831  0.868551]

In [9]:
gf_data_all = gf >> summarise(data=cur_data_all())
gf_data_all

   index                                               data
0      0     g         x         y
0  a  0.094233  0.748887
1      1     g         x         y
1  b  0.992546  0.122...
2      2     g         x         y
3  c  0.954324  0.237...

In [10]:
gf_data_all >> pull(f.data, to_list=True)

[   g         x         y
 0  a  0.094233  0.748887,
    g         x         y
 1  b  0.992546  0.122252
 2  b  0.093906  0.954942,
    g         x         y
 3  c  0.954324  0.237139
 4  c  0.385214  0.490378
 5  c  0.987831  0.868551]

In [12]:
df >> select(f.x, f.y) >> mutate(
    across(
        everything(), 
        lambda x, cc: [cc + ' '] * x.shape[0] + (x**2).astype(str), cc=cur_column()
    )
)

                        x                       y
0  x 0.008879779750954782    y 0.5608320057594648
1    x 0.9851484731005249  y 0.014945520749805059
2   x 0.00881838005987929    y 0.9119140609556601
3    x 0.9107339547847842   y 0.05623498276000159
4   x 0.14838970565778298   y 0.24047021703053853
5    x 0.9758094717413237     y 0.754381340496749

In [14]:
# or you can use x.name, since x is a Series
df >> mutate(across(
    [f.x, f.y], 
    lambda x: [x.name + ' '] * x.shape[0] + (x**2).astype(str)
))

   g                       x                       y
0  a  x 0.008879779750954782    y 0.5608320057594648
1  b    x 0.9851484731005249  y 0.014945520749805059
2  b   x 0.00881838005987929    y 0.9119140609556601
3  c    x 0.9107339547847842   y 0.05623498276000159
4  c   x 0.14838970565778298   y 0.24047021703053853
5  c    x 0.9758094717413237     y 0.754381340496749