In [1]:
# https://dplyr.tidyverse.org/reference/cumall.html
from plyrda.all import *

In [3]:
x = Series([1, 3, 5, 2, 2])
cummean(x)

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
dtype: float64

In [4]:
cumsum(x) / (Series(seq_along(x)) + 1) # seq_along starts from 0

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
dtype: float64

In [5]:
cumall(x < 5)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [6]:
cumany(x == 3)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [7]:
df = tibble(
  date = as_date([f"2020-01-0{i+1}" for i in range(7)]),
  balance = c(100, 50, 25, -25, -50, 30, 120)
)
df >> filter(cumany(f.balance < 0))

         date  balance
3  2020-01-04      -25
4  2020-01-05      -50
5  2020-01-06       30
6  2020-01-07      120

In [8]:
df >> filter(cumall(~(f.balance < 0)))

         date  balance
0  2020-01-01      100
1  2020-01-02       50
2  2020-01-03       25