In [1]:
# https://tidyr.tidyverse.org/reference/extract.html

from datar.all import *

In [2]:
df = tibble(x = c(NA, "a-b", "a-d", "b-c", "d-e"))
df >> extract(f.x, "A")

     A
0  NaN
1    a
2    a
3    b
4    d

In [3]:
df >> extract(f.x, c("A", "B"), r"(\w+)-(\w+)")

     A    B
0  NaN  NaN
1    a    b
2    a    d
3    b    c
4    d    e

In [4]:
df >> extract(f.x, c("A", "B"), r"([a-d]+)-([a-d]+)")

     A    B
0  NaN  NaN
1    a    b
2    a    d
3    b    c
4  NaN  NaN