In [1]:
# https://dplyr.tidyverse.org/reference/group_map.html
from plyrda.data import mtcars, iris
from plyrda.all import *

In [2]:
mtcars >> \
  group_by(f.cyl) >> \
  group_map(lambda df: df >> head(2))

[             mpg  cyl   disp  hp  drat    wt   qsec  vs  am  gear  carb
 Datsun 710  22.8    4  108.0  93  3.85  2.32  18.61   1   1     4     1
 Merc 240D   24.4    4  146.7  62  3.69  3.19  20.00   1   0     4     2,
                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
 Mazda RX4      21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
 Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4,
                     mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  \
 Hornet Sportabout  18.7    8  360.0  175  3.15  3.44  17.02   0   0     3
 Duster 360         14.3    8  360.0  245  3.21  3.57  15.84   0   0     3

                    carb
 Hornet Sportabout     2
 Duster 360            4  ]

In [3]:
mtcars >> \
  group_by(f.cyl) >> \
  group_modify(lambda df: df >> head(2))

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4

In [4]:
iris >> \
  group_by(f.Species) >> \
  group_map(lambda df: quantile(df['Petal.Length'], probs=c(0.25, 0.5, 0.75)))

[array([1.4  , 1.5  , 1.575]),
 array([4.  , 4.35, 4.6 ]),
 array([5.1  , 5.55 , 5.875])]

In [5]:
iris >> \
  group_by(f.Species) >> \
  group_walk(lambda df: print(df >> head(2)))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica

Empty DataFrame
Columns: []
Index: []

In [6]:
mtcars >> \
  group_modify(lambda df: df >> head(2))

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4