In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# https://dplyr.tidyverse.org/reference/group_by.html
from plyrda.data import mtcars
from plyrda.all import *

In [2]:
by_cyl = mtcars >> group_by(f.cyl) 
by_cyl >> group_vars()
by_cyl >> head()

['cyl']

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [15]:
by_cyl >> summarise(
  disp = mean(f.disp + f.hp),
  hp = mean(f.hp)
)

TypeError: unsupported operand type(s) for +: 'SeriesGroupBy' and 'SeriesGroupBy'

In [4]:
by_cyl >> filter(f.disp == max(f.disp)) >> head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

In [5]:
by_vs_am = mtcars >> group_by(f.vs, f.am)
by_vs = by_vs_am >> summarise(n=n())
by_vs >> group_vars()
by_vs >> head()

['vs']

   vs  am   n
0   0   0  12
1   0   1   6
2   1   0   7
3   1   1   7

In [6]:
by_vs >> summarise(n=sum(f.n))

   vs   n
0   0  18
1   1  14

In [7]:
by_vs >> \
  ungroup() >> \
  summarise(n = sum(f.n))

    n
0  32

In [8]:
mtcars_vsam = mtcars >> group_by(vsam=f.vs + f.am) 
mtcars_vsam >> group_vars()
mtcars_vsam >> head()

['vsam']

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,vsam
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0

In [9]:
by_cyl >> \
  group_by(f.vs, f.am) >> \
  group_vars()

['vs', 'am']

In [10]:
by_cyl >> \
  group_by(f.vs, f.am, _add=True) >> \
  group_vars()

['cyl', 'vs', 'am']