In [1]:
# https://dplyr.tidyverse.org/reference/lead-lag.html

from plyrda import f
from plyrda.verbs import mutate, slice_sample, arrange
from plyrda.funcs import lead, lag
from plyrda.helpers import tibble

In [2]:
x = [1,2,3,4,5]

lag(x)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [3]:
lead(x)

0    2.0
1    3.0
2    4.0
3    5.0
4    NaN
dtype: float64

In [4]:
tibble(behind=lag(x), x=x, ahead=lead(x))

   behind  x  ahead
0     NaN  1    2.0
1     1.0  2    3.0
2     2.0  3    4.0
3     3.0  4    5.0
4     4.0  5    NaN

In [5]:
lag(x, n=1)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [6]:
lag(x, n=2)

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
dtype: float64

In [7]:
lead(x, n=1)

0    2.0
1    3.0
2    4.0
3    5.0
4    NaN
dtype: float64

In [8]:
lead(x, n=2)

0    3.0
1    4.0
2    5.0
3    NaN
4    NaN
dtype: float64

In [9]:
lag(x, default=0)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [10]:
lead(x, default=6)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [11]:
scrambled = slice_sample(
    tibble(year=[2000, 2001, 2002, 2003, 2004, 2005], 
           value=[a**2 for a in range(6)]), 
    prop=1
) 

scrambled >> mutate(previous_year_value = lag(f.value)) >> arrange(f.year)

   year  value  previous_year_value
0  2000      0                 16.0
1  2001      1                  NaN
2  2002      4                 25.0
3  2003      9                  0.0
4  2004     16                  1.0
5  2005     25                  9.0

In [12]:
# Use this for lag(value, order_by = year) instead
scrambled >> mutate(previous_year_value = lag(f.value, order_by=f.year)) >> arrange(f.year)

   year  value  previous_year_value
0  2000      0                  NaN
1  2001      1                  0.0
2  2002      4                  1.0
3  2003      9                  4.0
4  2004     16                  9.0
5  2005     25                 16.0