In [1]:
# https://dplyr.tidyverse.org/reference/relocate.html
from pandas import DataFrame
from plyrda import f
from plyrda.verbs import relocate
from plyrda.funcs import where, last_col, any_of
from plyrda.commons import c, is_character, is_numeric

In [2]:
df = DataFrame(
    {'a': [1], 'b': [1], 'c': [1], 'd': ["a"], 'e': ["a"], 'f': ["a"]}
)
df = df[list('abcdef')] # ensure the order
df

   a  b  c  d  e  f
0  1  1  1  a  a  a

In [3]:
df >> relocate(f.f)

   f  a  b  c  d  e
0  a  1  1  1  a  a

In [4]:
df >> relocate(f.a, _after = f.c)

   b  c  a  d  e  f
0  1  1  1  a  a  a

In [5]:
df >> relocate(f.f, _before = f.b)

   a  f  b  c  d  e
0  1  a  1  1  a  a

In [6]:
df >> relocate(f.a, _after = last_col())

   b  c  d  e  f  a
0  1  1  a  a  a  1

In [7]:
df >> relocate(where(is_character))

   d  e  f  a  b  c
0  a  a  a  1  1  1

In [8]:
df >> relocate(where(is_numeric), _after = last_col())

   d  e  f  a  b  c
0  a  a  a  1  1  1

In [9]:
df >> relocate(any_of(c("a", "e", "i", "o", "u")))

   a  e  b  c  d  f
0  1  a  1  1  a  a

In [10]:
df2 = DataFrame({'a': [1], 'b': ["a"], 'c': [1], 'd': ["a"]})
df2 = df2[list('abcd')]
df2

   a  b  c  d
0  1  a  1  a

In [11]:
df2 >> relocate(where(is_numeric), _after = where(is_character))

   b  d  a  c
0  a  a  1  1

In [12]:
df2 >> relocate(where(is_numeric), _before = where(is_character))

   a  c  b  d
0  1  1  a  a