In [1]:
# https://tidyr.tidyverse.org/reference/replace_na.html

from datar.all import *

In [2]:
df = tibble(x = c(1, 2, NA), y = c("a", NA, "b"))
df >> replace_na(dict(x = 0, y = "unknown"))

     x        y
0  1.0        a
1  2.0  unknown
2  0.0        b

In [3]:
df >> mutate(x = replace_na(f.x, 0))

     x    y
0  1.0    a
1  2.0  NaN
2  0.0    b

In [4]:
df.x >> replace_na(0)

0    1.0
1    2.0
2    0.0
Name: x, dtype: float64

In [5]:
df.y >> replace_na("unknown")

0          a
1    unknown
2          b
Name: y, dtype: object

In [ ]:
# nested not supported yet