In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html
import numpy
from pandas import DataFrame

from plyrda.data import iris
from plyrda.all import *

In [2]:
df = DataFrame(dict(x=runif(6), y=runif(6), z=runif(6)))
# func applied to rowwise df has to be called with c_across
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], mean))

          x         y         z         m
0  0.626105  0.556695  0.610813  0.597871
1  0.374082  0.941938  0.512488  0.609502
2  0.478134  0.932339  0.194645  0.535039
3  0.878912  0.237796  0.144207  0.420305
4  0.317173  0.621164  0.709482  0.549273
5  0.831341  0.784916  0.870895  0.829050

In [3]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], mean))

          x         y         z         m
0  0.626105  0.556695  0.610813  0.597871
1  0.374082  0.941938  0.512488  0.609502
2  0.478134  0.932339  0.194645  0.535039
3  0.878912  0.237796  0.144207  0.420305
4  0.317173  0.621164  0.709482  0.549273
5  0.831341  0.784916  0.870895  0.829050

In [4]:
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], min))

          x         y         z         m
0  0.626105  0.556695  0.610813  0.556695
1  0.374082  0.941938  0.512488  0.374082
2  0.478134  0.932339  0.194645  0.194645
3  0.878912  0.237796  0.144207  0.144207
4  0.317173  0.621164  0.709482  0.317173
5  0.831341  0.784916  0.870895  0.784916

In [5]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], min))

          x         y         z         m
0  0.626105  0.556695  0.610813  0.556695
1  0.374082  0.941938  0.512488  0.374082
2  0.478134  0.932339  0.194645  0.194645
3  0.878912  0.237796  0.144207  0.144207
4  0.317173  0.621164  0.709482  0.317173
5  0.831341  0.784916  0.870895  0.784916

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.626105  0.556695  0.610813  0.556695
1  0.374082  0.941938  0.512488  0.374082
2  0.478134  0.932339  0.194645  0.194645
3  0.878912  0.237796  0.144207  0.144207
4  0.317173  0.621164  0.709482  0.317173
5  0.831341  0.784916  0.870895  0.784916

In [7]:
params = DataFrame(dict(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
))


random = lambda n_mean_sd: rnorm(*n_mean_sd)
params >> rowwise(f.sim) >> summarise(z=c_across([f.n, f.mean, f.sd], random))

   sim                                                  z
0    1                               [1.0064139472557578]
1    2             [2.929913866339876, 4.754211170637308]
2    3  [2.1755363612712166, -1.311102399394802, 0.705...