In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))
# func applied to rowwise df has to be called with c_across
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], mean))

          x         y         z         m
0  0.835563  0.124516  0.247178  0.402419
1  0.600991  0.834358  0.936376  0.790575
2  0.811783  0.983704  0.740130  0.845206
3  0.660127  0.316282  0.163431  0.379946
4  0.098886  0.135965  0.308867  0.181240
5  0.775178  0.393955  0.194323  0.454485

In [3]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], mean))

          x         y         z         m
0  0.835563  0.124516  0.247178  0.402419
1  0.600991  0.834358  0.936376  0.790575
2  0.811783  0.983704  0.740130  0.845206
3  0.660127  0.316282  0.163431  0.379946
4  0.098886  0.135965  0.308867  0.181240
5  0.775178  0.393955  0.194323  0.454485

In [4]:
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], min))

          x         y         z         m
0  0.835563  0.124516  0.247178  0.124516
1  0.600991  0.834358  0.936376  0.600991
2  0.811783  0.983704  0.740130  0.740130
3  0.660127  0.316282  0.163431  0.163431
4  0.098886  0.135965  0.308867  0.098886
5  0.775178  0.393955  0.194323  0.194323

In [5]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], min))

          x         y         z         m
0  0.835563  0.124516  0.247178  0.124516
1  0.600991  0.834358  0.936376  0.600991
2  0.811783  0.983704  0.740130  0.740130
3  0.660127  0.316282  0.163431  0.163431
4  0.098886  0.135965  0.308867  0.098886
5  0.775178  0.393955  0.194323  0.194323

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.835563  0.124516  0.247178  0.124516
1  0.600991  0.834358  0.936376  0.600991
2  0.811783  0.983704  0.740130  0.740130
3  0.660127  0.316282  0.163431  0.163431
4  0.098886  0.135965  0.308867  0.098886
5  0.775178  0.393955  0.194323  0.194323

In [10]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=c_across([f.n, f.mean, f.sd], rnorm))

   sim                                                  z
0    1                         [[[0.007663985478886775]]]
1    2  [[[1.3931692385359042, -1.8235048602002188, -0...
2    3  [[[0.7182525688264912, 0.03391894484254845]], ...