In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html
import numpy
from pandas import DataFrame

from plyrda.data import iris
from plyrda.all import *

rng = numpy.random.default_rng(8525)

In [2]:
df = DataFrame(dict(x=rng.random(6), y=rng.random(6), z=rng.random(6)))
# func applied to rowwise df has to be called with c_across
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], mean))

          x         y         z         m
0  0.038454  0.098516  0.317985  0.151652
1  0.091360  0.370697  0.155806  0.205954
2  0.642619  0.046899  0.335591  0.341703
3  0.902924  0.707625  0.961739  0.857429
4  0.397815  0.904329  0.540475  0.614206
5  0.692043  0.840548  0.993012  0.841868

In [3]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], mean))

          x         y         z         m
0  0.038454  0.098516  0.317985  0.151652
1  0.091360  0.370697  0.155806  0.205954
2  0.642619  0.046899  0.335591  0.341703
3  0.902924  0.707625  0.961739  0.857429
4  0.397815  0.904329  0.540475  0.614206
5  0.692043  0.840548  0.993012  0.841868

In [4]:
df >> rowwise() >> mutate(m=c_across([f.x, f.y, f.z], min))

          x         y         z         m
0  0.038454  0.098516  0.317985  0.038454
1  0.091360  0.370697  0.155806  0.091360
2  0.642619  0.046899  0.335591  0.046899
3  0.902924  0.707625  0.961739  0.707625
4  0.397815  0.904329  0.540475  0.397815
5  0.692043  0.840548  0.993012  0.692043

In [5]:
df >> rowwise() >> mutate(m=c_across(f[f.x:f.z], min))

          x         y         z         m
0  0.038454  0.098516  0.317985  0.038454
1  0.091360  0.370697  0.155806  0.091360
2  0.642619  0.046899  0.335591  0.046899
3  0.902924  0.707625  0.961739  0.707625
4  0.397815  0.904329  0.540475  0.397815
5  0.692043  0.840548  0.993012  0.692043

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.038454  0.098516  0.317985  0.038454
1  0.091360  0.370697  0.155806  0.091360
2  0.642619  0.046899  0.335591  0.046899
3  0.902924  0.707625  0.961739  0.707625
4  0.397815  0.904329  0.540475  0.397815
5  0.692043  0.840548  0.993012  0.692043

In [7]:
params = DataFrame(dict(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
))


random = lambda n_mean_sd: rng.normal(n_mean_sd[1], n_mean_sd[2], n_mean_sd[0])
params >> rowwise(f.sim) >> summarise(z=c_across([f.n, f.mean, f.sd], random))

   sim                                                  z
0    1                               [1.1319836459883497]
1    2           [2.267833971326203, -3.6437523567745993]
2    3  [-0.11112118577297814, -0.6854739462785502, -0...