In [1]:
# https://tidyr.tidyverse.org/reference/uncount.html

from datar.all import *

In [2]:
df = tibble(x = c("a", "b"), n = c(1, 2))
df >> uncount(f.n)

   x
0  a
1  b
1  b

In [3]:
df >> uncount(f.n, _id="id")

   x  id
0  a   0
1  b   0
1  b   1

In [4]:
uncount(df, 2)

   x  n
0  a  1
0  a  1
1  b  2
1  b  2

In [5]:
df >> uncount(2//f.n)

   x  n
0  a  1
0  a  1
1  b  2