In [1]:
library(dplyr)

df = data.frame(a=1, b=2)
df

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  a b
1 1 2

In [9]:
mtcars %>% group_by(vs, am) %>% summarise(n=n())

`summarise()` regrouping output by 'vs' (override with `.groups` argument)

  vs am n
1 0  0  12
2 0  1   6
3 1  0   7
4 1  1   7