In [1]:
# https://tibble.tidyverse.org/reference/add_row.html

from datar.tibble import *
from datar.base import seq

%run nb_helpers.py
nb_header(add_row)

### # add_row

##### Add one or more rows of data to an existing data frame.

In [2]:
df = tibble(x=seq(1,3), y=seq(3,1))

df >> add_row(x=4, y=0)

   x  y
0  1  3
1  2  2
2  3  1
3  4  0

In [3]:
df >> add_row(x=4, y=0, _before=2)

   x  y
0  1  3
1  4  0
2  2  2
3  3  1

In [4]:
df >> add_row(x=[4,5], y=[0,-1])

   x  y
0  1  3
1  2  2
2  3  1
3  4  0
4  5 -1

In [ ]:
# tibble_row not supported

In [5]:
# Absent variables get missing values
df >> add_row(x = 4)

   x    y
0  1  3.0
1  2  2.0
2  3  1.0
3  4  NaN

In [7]:
# You can't create new variables
try:
    df >> add_row(z = 10)
except ValueError as err:
    print(err)

New rows can't add columns: ['z']