In [9]:
# https://tibble.tidyverse.org/reference/add_column.html

from datar import f
from datar.tibble import *
from datar.base import seq
from datar.core.exceptions import NameNonUniqueError

%run nb_helpers.py
nb_header(add_column)

### # add_column

##### Add one or more columns to an existing data frame.

In [10]:
df = tibble(x=seq(1,3), y=seq(3,1))

df >> add_column(z=seq(-1,1), w=0)

   x  y  z  w
0  1  3 -1  0
1  2  2  0  0
2  3  1  1  0

In [11]:
df >> add_column(z=seq(-1,1), _before=f.y)

   x  z  y
0  1 -1  3
1  2  0  2
2  3  1  1

In [12]:
# You can't overwrite existing columns
try:
    df >> add_column(x = seq(4,6))
except NameNonUniqueError as err:
    print(err)

Names must be unique: x

In [14]:
# You can't create new observations
try:
    df >> add_column(z = seq(1,5))
except ValueError as err:
    print(err)

New columns have 5 rows, but `_data` has 3.