In [1]:
from datar import f
from datar.base import *
from datar.tibble import tibble

In [2]:
print(NULL)
print(NA)
print(TRUE)
print(FALSE)
print(pi)
print(Inf)
print(letters)
print(LETTERS)

None
nan
True
False
3.141592653589793
inf
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [3]:
df = tibble(x=1, y=2, z=3)
df

   x  y  z
0  1  2  3

In [4]:
df >> rownames()

[0]

In [5]:
df >> rownames(['a'])

   x  y  z
a  1  2  3

In [6]:
df >> colnames()

['x', 'y', 'z']

In [7]:
df >> colnames(['v1', 'v2', 'v3'])

[0, 1, 2]

   v1  v2  v3
0   1   2   3

In [8]:
df >> dim()

(1, 3)

In [9]:
df >> nrow()

1

In [10]:
df >> ncol()

3

In [11]:
diag(3)

   0  1  2
0  1  0  0
1  0  1  0
2  0  0  1

In [12]:
diag(10, 3, 4)

    0   1   2  3
0  10   0   0  0
1   0  10   0  0
2   0   0  10  0

In [13]:
diag(c(1j,2j))

          0         1
0  0.0+1.0j  0.0+0.0j
1  0.0+0.0j  0.0+2.0j

In [14]:
diag(TRUE, 3)

       0      1      2
0   True  False  False
1  False   True  False
2  False  False   True

In [15]:
diag([1,2,3])

   0  1  2
0  1  0  0
1  0  2  0
2  0  0  3

In [16]:
diag([2, 1], 4)

   0  1  2  3
0  2  0  0  0
1  0  1  0  0
2  0  0  2  0
3  0  0  0  1

In [17]:
df >> t()

   0
x  1
y  2
z  3