In [1]:
# https://dplyr.tidyverse.org/reference/between.html

from datar.datasets import starwars
from datar.all import *

%run nb_helpers.py
nb_header(between)

### # between

##### Function version of `left <= x <= right`, which cannot do it rowwisely

In [2]:
between(range(1, 13), 7, 9)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9     False
10    False
11    False
dtype: bool

In [3]:
x = rnorm(100)
x[between(x, -1, 1)]

array([-0.38555879, -0.60267025,  0.35989421, -0.57963607,  0.86023986,
       -0.45190934, -0.60790583, -0.53098068, -0.43947395, -0.0875375 ,
       -0.66937105,  0.84985452,  0.40311174,  0.63764398, -0.60452572,
        0.2869155 ,  0.0496807 , -0.8287547 , -0.80069181,  0.82087437,
       -0.77886284, -0.75677116,  0.43197877,  0.01147117,  0.22260006,
       -0.16713986,  0.32719101,  0.78891843,  0.01721516, -0.05923402,
       -0.78298322,  0.41646399, -0.06350888, -0.1454294 , -0.9604937 ,
        0.26673569,  0.40658097,  0.84835757,  0.13736499, -0.46353864,
        0.82456948, -0.89099484,  0.67709839,  0.79839679, -0.36533141,
        0.35444117,  0.02918655, -0.48126178,  0.31157466,  0.65315019,
        0.69832633,  0.30540672,  0.62108532, -0.15986364,  0.22306891,
       -0.34491022, -0.08298992,  0.52346046,  0.03170817, -0.48173974,
       -0.14608391, -0.73308876, -0.71608869, -0.90964378,  0.32774429,
       -0.3093256 ,  0.86333872, -0.5566336 , -0.9737675 ])

In [4]:
starwars >> filter(between(f.height, 100, 150))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
1,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
2,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
3,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
4,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto

In [5]:
starwars >> filter(100 <= f.height <= 150) # not as expected

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid
1,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
2,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid
3,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species
4,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
5,Wicket Systri Warrick,88.0,20.0,brown,brown,brown,8.0,male,masculine,Endor,Ewok
6,Watto,137.0,NaN,black,"blue, grey",yellow,NaN,male,masculine,Toydaria,Toydarian
7,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
8,Dud Bolt,94.0,45.0,none,"blue, grey",yellow,NaN,male,masculine,Vulpter,Vulptereen
9,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
10,Ratts Tyerell,79.0,15.0,none,"grey, blue",unknown,NaN,male,masculine,Aleen Minor,Aleena
11,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid