In [1]:
# https://dplyr.tidyverse.org/reference/context.html
from datar.all import *

from nb_helpers import nb_header
nb_header(cur_group_id, cur_group_rows, cur_data, cur_data_all, cur_column)

### # cur_group_id

##### gives a unique numeric identifier for the current group.

### # cur_group_rows

##### gives the row indices for the current group.

### # cur_data

##### gives the current data for the current group
(excluding grouping variables).

### # cur_data_all

##### gives the current data for the current group
(including grouping variables)

### # cur_column

##### Used in the functions of across. So we don't have to register it.

In [2]:
df = tibble(
  g=['a'] + ['b'] * 2 + ['c'] * 3,
  x=runif(6),
  y=runif(6)
)
gf = df >> group_by(f.g)

gf >> summarise(n = n())

[2021-04-01 17:46:21][datar][   INFO] `summarise()` regrouping output by ['g']. You can override using the `.groups` argument.

In [3]:
gf >> display()

[2021-04-01 17:46:21][datar][   INFO] # [DataFrameGroupBy] Groups: ['g'] (3)

   g         x         y
0  a  0.725713  0.968646
1  b  0.090224  0.387580
2  b  0.578032  0.826910
3  c  0.196640  0.496450
4  c  0.426203  0.006330
5  c  0.140672  0.208947

In [4]:
gf >> mutate(id=cur_group_id()) >> display()

[2021-04-01 17:46:21][datar][   INFO] # [DataFrameGroupBy] Groups: ['g'] (3)

   g         x         y  id
0  a  0.725713  0.968646   0
1  b  0.090224  0.387580   1
2  b  0.578032  0.826910   1
3  c  0.196640  0.496450   2
4  c  0.426203  0.006330   2
5  c  0.140672  0.208947   2

In [5]:
gf >> summarise(row=cur_group_rows()) >> display()

[2021-04-01 17:46:21][datar][   INFO] `summarise()` regrouping output by ['g']. You can override using the `.groups` argument.
[2021-04-01 17:46:21][datar][   INFO] # [DataFrameGroupBy] Groups: ['g'] (3)

   g  row
0  a    0
1  b    1
2  b    2
3  c    3
4  c    4
5  c    5

In [6]:
gf_group = gf >> summarise(data=[cur_group()])
gf_group

[2021-04-01 17:46:21][datar][   INFO] `summarise()` regrouping output by ['g']. You can override using the `.groups` argument.

In [7]:
gf_group >> pull(f.data, to='list')

[   g
 0  a,
    g
 0  b,
    g
 0  c]

In [8]:
gf_data = gf >> summarise(data=[cur_data()])
gf_data

[2021-04-01 17:46:21][datar][   INFO] `summarise()` regrouping output by ['g']. You can override using the `.groups` argument.

In [9]:
gf_data >> pull(f.data, to='list')

[   g         x         y
 0  a  0.725713  0.968646,
    g         x        y
 0  b  0.090224  0.38758
 1  b  0.578032  0.82691,
    g         x         y
 0  c  0.196640  0.496450
 1  c  0.426203  0.006330
 2  c  0.140672  0.208947]

In [10]:
gf_data_all = gf >> summarise(data=[cur_data_all()])
gf_data_all

[2021-04-01 17:46:22][datar][   INFO] `summarise()` regrouping output by ['g']. You can override using the `.groups` argument.

In [11]:
gf_data_all >> pull(f.data, to='list')

[   g         x         y
 0  a  0.725713  0.968646,
    g         x        y
 0  b  0.090224  0.38758
 1  b  0.578032  0.82691,
    g         x         y
 0  c  0.196640  0.496450
 1  c  0.426203  0.006330
 2  c  0.140672  0.208947]

In [12]:
df >> select(f.x, f.y) >> mutate(
    across(
        everything(), 
        lambda x, cc: [cc + ' '] * x.shape[0] + (x**2).astype(str), cc=cur_column()
    )
)

                        x                         y
0    x 0.5266599179693725      y 0.9382743565552832
1  x 0.008140397891205747     y 0.15021848176712474
2     x 0.334121386085333      y 0.6837802892580668
3   x 0.03866728389822765      y 0.2464626545548167
4   x 0.18164934280117156  y 4.0068736482374296e-05
5   x 0.01978861830097462    y 0.043658695735944095

In [13]:
# or you can use x.name, since x is a Series
df >> mutate(across(
    [f.x, f.y], 
    lambda x: [x.name + ' '] * x.shape[0] + (x**2).astype(str)
))

   g                       x                         y
0  a    x 0.5266599179693725      y 0.9382743565552832
1  b  x 0.008140397891205747     y 0.15021848176712474
2  b     x 0.334121386085333      y 0.6837802892580668
3  c   x 0.03866728389822765      y 0.2464626545548167
4  c   x 0.18164934280117156  y 4.0068736482374296e-05
5  c   x 0.01978861830097462    y 0.043658695735944095