In [1]:
# https://dplyr.tidyverse.org/reference/cumall.html
import numpy

from datar.all import *

%run nb_helpers.py
nb_header(cummean, cumsum, cumall, cumany, cumany, book='cumall')

### # cummean

##### Get cumulative means

### # cumsum

##### Returns a vector whose elements are the cumulative sums of
the elements of the argument.

##### Args:
&emsp;&emsp;`series`: A series of numbers
&emsp;&emsp;`skipna`: Whether skipping NA's or not. Note that R doesn't have this
&emsp;&emsp;&emsp;&emsp;argument.

##### Returns:
&emsp;&emsp;The cumulative sums

### # cumall

##### Get cumulative bool. All cases after first False

### # cumany

##### Get cumulative bool. All cases after first True

### # cumany

##### Get cumulative bool. All cases after first True

In [2]:
x = [1, 3, 5, 2, 2]
cummean(x)

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
dtype: float64

In [3]:
cumsum(x) / (seq_along(x) + 1) # seq_along starts from 0

0    1.00
1    2.00
2    3.00
3    2.75
4    2.60
dtype: float64

In [4]:
cumall(numpy.array(x) < 5)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [5]:
cumany(numpy.array(x) == 3)

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [6]:
df = tibble(
  date = as_date([f"2020-01-0{i+1}" for i in range(7)]),
  balance = c(100, 50, 25, -25, -50, 30, 120)
)
df >> filter(cumany(f.balance < 0))

         date  balance
0  2020-01-04      -25
1  2020-01-05      -50
2  2020-01-06       30
3  2020-01-07      120

In [7]:
df >> filter(cumall(~(f.balance < 0)))

         date  balance
0  2020-01-01      100
1  2020-01-02       50
2  2020-01-03       25