In [1]:
# https://tidyr.tidyverse.org/reference/drop_na.html

from datar.all import *

In [2]:
df = tibble(x = c(1, 2, NA), y = c("a", NA, "b"))
df >> drop_na()

     x  y
0  1.0  a

In [3]:
df >> drop_na(f.x)

     x    y
0  1.0    a
1  2.0  NaN

In [4]:
vars = ["y"]
df >> drop_na(f.x, any_of(vars))

     x  y
0  1.0  a