In [1]:
# https://tidyr.tidyverse.org/reference/drop_na.html

from datar.all import *

%run nb_helpers.py
nb_header(drop_na)

### # drop_na

##### Drop rows containing missing values

See https://tidyr.tidyverse.org/reference/drop_na.html

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`*columns`: Columns to inspect for missing values.

##### Returns:
&emsp;&emsp;Dataframe with rows with NAs dropped

In [2]:
df = tibble(x = c(1, 2, NA), y = c("a", NA, "b"))
df >> drop_na()

     x    y
0  1.0    a
1  2.0  NaN
2  NaN    b

In [3]:
df >> drop_na(f.x)
# FIXME

     x    y
0  1.0    a
1  2.0  NaN

In [4]:
vars = ["y"]
df >> drop_na(f.x, any_of(vars))

     x  y
0  1.0  a