In [2]:
# https://tibble.tidyverse.org/reference/enframe.html

from datar.tibble import *
from datar.base import seq

%run nb_helpers.py
nb_header(enframe, deframe, book='enframe')

### # enframe

##### Converts mappings or lists to one- or two-column data frames.

### # deframe

##### Converts two-column data frames to a dictionary, using
the first column as name and the second column as value.
If the input has only one column, a list.

In [3]:
enframe(seq(1,3))

   name  value
0     1      1
1     2      2
2     3      3

In [4]:
enframe(dict(a=5, b=7))

  name  value
0    a      5
1    b      7

In [6]:
enframe(dict(one=1, two=[2,3], three=[4,5,6]))

    name      value
0    one          1
1    two     [2, 3]
2  three  [4, 5, 6]

In [8]:
deframe(enframe(seq(3,1)))

{1: 3, 2: 2, 3: 1}

In [10]:
deframe(tibble(a=seq(1,3)))

array([1, 2, 3])

In [11]:
deframe(tibble(a=[seq(1,3)]))

array([array([1, 2, 3])], dtype=object)