In [1]:
# https://tidyr.tidyverse.org/reference/expand_grid.html

from datar.all import *

%run nb_helpers.py
nb_header(expand_grid)

### # expand_grid

##### Expand elements into a new dataframe

See https://tidyr.tidyverse.org/reference/expand_grid.html

##### Args:
&emsp;&emsp;_data, **kwargs: Name-value pairs. The name will become the column
&emsp;&emsp;&emsp;&emsp;name in the output.
&emsp;&emsp;&emsp;&emsp;For _data, will try to fetch name via `_data.__dfname__`. If failed
&emsp;&emsp;&emsp;&emsp;`_data` will be used.

##### Returns:
&emsp;&emsp;The expanded dataframe

In [2]:
expand_grid(x=range(1,4), y=range(1,3))

   x  y
0  1  1
1  1  2
2  2  1
3  2  2
4  3  1
5  3  2

In [3]:
expand_grid(l1=letters, l2=LETTERS)

    l1 l2
0    a  A
1    a  B
2    a  C
3    a  D
4    a  E
..  .. ..
671  z  V
672  z  W
673  z  X
674  z  Y
675  z  Z

[676 rows x 2 columns]

In [4]:
expand_grid(df=tibble(x=[1,2], y=c(2, 1)), z=[1,2,3])

   df_x  df_y  z
0     1     2  1
1     1     2  2
2     1     2  3
3     2     1  1
4     2     1  2
5     2     1  3

In [5]:
expand_grid(x1=tibble(a=[1,2], b=[3,4]), x2=tibble(a=[5,6], b=[7,8]))

   x1_a  x1_b  x2_a  x2_b
0     1     3     5     7
1     1     3     6     8
2     2     4     5     7
3     2     4     6     8