In [1]:
# https://dplyr.tidyverse.org/reference/filter-joins.html

from datar.datasets import band_members, band_instruments
from datar.all import *

%run nb_helpers.py
nb_header(semi_join, anti_join)

### # semi_join

##### Returns all rows from x with a match in y.

See inner_join()

### # anti_join

##### Returns all rows from x without a match in y.

See inner_join()

In [2]:
band_members >> semi_join(band_instruments)

   name     band
1  John  Beatles
2  Paul  Beatles

In [3]:
band_members >> anti_join(band_instruments)

   name    band
0  Mick  Stones