In [1]:
# https://dplyr.tidyverse.org/reference/filter.html
from datar.datasets import starwars
from datar.all import *

%run nb_helpers.py
nb_header(filter)

### # filter

##### Subset a data frame, retaining all rows that satisfy your conditions

##### Args:
&emsp;&emsp;condition, *conditions: Expressions that return logical values
&emsp;&emsp;`_preserve`: Relevant when the .data input is grouped.
&emsp;&emsp;&emsp;&emsp;If _preserve = FALSE (the default), the grouping structure
&emsp;&emsp;&emsp;&emsp;is recalculated based on the resulting data, otherwise
&emsp;&emsp;&emsp;&emsp;the grouping is kept as is.

&emsp;&emsp;`_drop_index`: Whether drop the index or not.
&emsp;&emsp;&emsp;&emsp;When it is None and the index of _data is a RangeIndex, then
&emsp;&emsp;&emsp;&emsp;the index is dropped.

##### Returns:
&emsp;&emsp;The subset dataframe

In [2]:
filter(starwars, f.species == "Human")

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human
1,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
2,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human
3,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
4,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human
5,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
6,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human
7,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
8,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human
9,Han Solo,180.0,80.0,brown,fair,brown,29.0,male,masculine,Corellia,Human
10,Wedge Antilles,170.0,77.0,brown,fair,hazel,21.0,male,masculine,Corellia,Human
11,Jek Tono Porkins,180.0,110.0,brown,fair,blue,NaN,male,masculine,Bestine IV,Human
12,Palpatine,170.0,75.0,grey,pale,yellow,82.0,male,masculine,Naboo,Human
13,Boba Fett,183.0,78.2,black,fair,brown,31.5,male,masculine,Kamino,Human
14,Lando Calrissian,177.0,79.0,black,dark,brown,31.0,male,masculine,Socorro,Human
15,Lobot,175.0,79.0,none,light,blue,37.0,male,masculine,Bespin,Human
16,Mon Mothma,150.0,NaN,auburn,fair,blue,48.0,female,feminine,Chandrila,Human
17,Arvel Crynyd,NaN,NaN,brown,fair,brown,NaN,male,masculine,NaN,Human
18,Qui-Gon Jinn,193.0,89.0,brown,fair,blue,92.0,male,masculine,NaN,Human
19,Finis Valorum,170.0,NaN,blond,fair,blue,91.0,male,masculine,Coruscant,Human
20,Shmi Skywalker,163.0,NaN,black,fair,brown,72.0,female,feminine,Tatooine,Human
21,Mace Windu,188.0,84.0,none,dark,brown,72.0,male,masculine,Haruun Kal,Human
22,Gregar Typho,185.0,85.0,black,dark,brown,NaN,male,masculine,Naboo,Human
23,Cordé,157.0,NaN,brown,light,brown,NaN,female,feminine,Naboo,Human
24,Cliegg Lars,183.0,NaN,brown,fair,blue,82.0,male,masculine,Tatooine,Human
25,Dormé,165.0,NaN,brown,light,brown,NaN,female,feminine,Naboo,Human
26,Dooku,193.0,80.0,white,fair,brown,102.0,male,masculine,Serenno,Human
27,Bail Prestor Organa,191.0,NaN,black,tan,brown,67.0,male,masculine,Alderaan,Human
28,Jango Fett,183.0,79.0,black,tan,brown,66.0,male,masculine,Concord Dawn,Human
29,Jocasta Nu,167.0,NaN,white,fair,blue,NaN,female,feminine,Coruscant,Human
30,Raymus Antilles,188.0,79.0,brown,light,brown,NaN,male,masculine,Alderaan,Human
31,Finn,NaN,NaN,black,dark,dark,NaN,male,masculine,NaN,Human
32,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human
33,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human
34,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human

In [3]:
filter(starwars, f.mass > 1000)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt

In [5]:
# Conditions connected by & or | have to wrapped, since == has lower priority than & does
filter(starwars, (f.hair_color == "none") & (f.eye_color == "black"))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Nien Nunb,160.0,68.0,none,grey,black,NaN,male,masculine,Sullust,Sullustan
1,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
2,Kit Fisto,196.0,87.0,none,green,black,NaN,male,masculine,Glee Anselm,Nautolan
3,Plo Koon,188.0,80.0,none,orange,black,22.0,male,masculine,Dorin,Kel Dor
4,Lama Su,229.0,88.0,none,grey,black,NaN,male,masculine,Kamino,Kaminoan
5,Taun We,213.0,NaN,none,grey,black,NaN,female,feminine,Kamino,Kaminoan
6,Shaak Ti,178.0,57.0,none,"red, blue, white",black,NaN,female,feminine,Shili,Togruta
7,Tion Medon,206.0,80.0,none,grey,black,NaN,male,masculine,Utapau,Pau'an
8,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid

In [6]:
filter(starwars, (f.hair_color == "none") | (f.eye_color == "black"))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
1,Greedo,173.0,74.0,NaN,green,black,44.0,male,masculine,Rodia,Rodian
2,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid
3,Bossk,190.0,113.0,none,green,red,53.0,male,masculine,Trandosha,Trandoshan
4,Lobot,175.0,79.0,none,light,blue,37.0,male,masculine,Bespin,Human
5,Ackbar,180.0,83.0,none,brown mottle,orange,41.0,male,masculine,Mon Cala,Mon Calamari
6,Nien Nunb,160.0,68.0,none,grey,black,NaN,male,masculine,Sullust,Sullustan
7,Nute Gunray,191.0,90.0,none,mottled green,red,NaN,male,masculine,Cato Neimoidia,Neimodian
8,Jar Jar Binks,196.0,66.0,none,orange,orange,52.0,male,masculine,Naboo,Gungan
9,Roos Tarpals,224.0,82.0,none,grey,orange,NaN,male,masculine,Naboo,Gungan
10,Rugor Nass,206.0,NaN,none,green,orange,NaN,male,masculine,Naboo,Gungan
11,Sebulba,112.0,40.0,none,"grey, red",orange,NaN,male,masculine,Malastare,Dug
12,Darth Maul,175.0,80.0,none,red,yellow,54.0,male,masculine,Dathomir,Zabrak
13,Bib Fortuna,180.0,NaN,none,pale,pink,NaN,male,masculine,Ryloth,Twi'lek
14,Ayla Secura,178.0,55.0,none,blue,hazel,48.0,female,feminine,Ryloth,Twi'lek
15,Dud Bolt,94.0,45.0,none,"blue, grey",yellow,NaN,male,masculine,Vulpter,Vulptereen
16,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
17,Ben Quadinaros,163.0,65.0,none,"grey, green, yellow",orange,NaN,male,masculine,Tund,Toong
18,Mace Windu,188.0,84.0,none,dark,brown,72.0,male,masculine,Haruun Kal,Human
19,Kit Fisto,196.0,87.0,none,green,black,NaN,male,masculine,Glee Anselm,Nautolan
20,Adi Gallia,184.0,50.0,none,dark,blue,NaN,female,feminine,Coruscant,Tholothian
21,Saesee Tiin,188.0,NaN,none,pale,orange,NaN,male,masculine,Iktotch,Iktotchi
22,Yarael Poof,264.0,NaN,none,white,yellow,NaN,male,masculine,Quermia,Quermian
23,Plo Koon,188.0,80.0,none,orange,black,22.0,male,masculine,Dorin,Kel Dor
24,Mas Amedda,196.0,NaN,none,blue,blue,NaN,male,masculine,Champala,Chagrian
25,Poggle the Lesser,183.0,80.0,none,green,yellow,NaN,male,masculine,Geonosis,Geonosian
26,Dexter Jettster,198.0,102.0,none,brown,yellow,NaN,male,masculine,Ojom,Besalisk
27,Lama Su,229.0,88.0,none,grey,black,NaN,male,masculine,Kamino,Kaminoan
28,Taun We,213.0,NaN,none,grey,black,NaN,female,feminine,Kamino,Kaminoan
29,Ratts Tyerell,79.0,15.0,none,"grey, blue",unknown,NaN,male,masculine,Aleen Minor,Aleena
30,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,none,feminine,NaN,Droid
31,Wat Tambor,193.0,48.0,none,"green, grey",unknown,NaN,male,masculine,Skako,Skakoan
32,San Hill,191.0,NaN,none,grey,gold,NaN,male,masculine,Muunilinst,Muun
33,Shaak Ti,178.0,57.0,none,"red, blue, white",black,NaN,female,feminine,Shili,Togruta
34,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,masculine,Kalee,Kaleesh
35,Sly Moore,178.0,48.0,none,pale,white,NaN,NaN,NaN,Umbara,NaN
36,Tion Medon,206.0,80.0,none,grey,black,NaN,male,masculine,Utapau,Pau'an
37,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid

In [7]:
filter(starwars, f.hair_color == "none", f.eye_color == "black")

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Nien Nunb,160.0,68.0,none,grey,black,NaN,male,masculine,Sullust,Sullustan
1,Gasgano,122.0,NaN,none,"white, blue",black,NaN,male,masculine,Troiken,Xexto
2,Kit Fisto,196.0,87.0,none,green,black,NaN,male,masculine,Glee Anselm,Nautolan
3,Plo Koon,188.0,80.0,none,orange,black,22.0,male,masculine,Dorin,Kel Dor
4,Lama Su,229.0,88.0,none,grey,black,NaN,male,masculine,Kamino,Kaminoan
5,Taun We,213.0,NaN,none,grey,black,NaN,female,feminine,Kamino,Kaminoan
6,Shaak Ti,178.0,57.0,none,"red, blue, white",black,NaN,female,feminine,Shili,Togruta
7,Tion Medon,206.0,80.0,none,grey,black,NaN,male,masculine,Utapau,Pau'an
8,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid

In [8]:
starwars >> filter(f.mass > mean(f.mass, na_rm=True))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
1,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
2,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee
3,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt
4,Jek Tono Porkins,180.0,110.0,brown,fair,blue,NaN,male,masculine,Bestine IV,Human
5,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid
6,Bossk,190.0,113.0,none,green,red,53.0,male,masculine,Trandosha,Trandoshan
7,Dexter Jettster,198.0,102.0,none,brown,yellow,NaN,male,masculine,Ojom,Besalisk
8,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,masculine,Kalee,Kaleesh
9,Tarfful,234.0,136.0,brown,brown,blue,NaN,male,masculine,Kashyyyk,Wookiee

In [9]:
starwars >> group_by(f.gender) >> filter(f.mass > mean(f.mass, na_rm=True))

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
1,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
2,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human
3,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee
4,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt
5,Jek Tono Porkins,180.0,110.0,brown,fair,blue,NaN,male,masculine,Bestine IV,Human
6,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid
7,Bossk,190.0,113.0,none,green,red,53.0,male,masculine,Trandosha,Trandoshan
8,Ayla Secura,178.0,55.0,none,blue,hazel,48.0,female,feminine,Ryloth,Twi'lek
9,Luminara Unduli,170.0,56.2,black,yellow,blue,58.0,female,feminine,Mirial,Mirialan
10,Zam Wesell,168.0,55.0,blonde,"fair, green, yellow",yellow,NaN,female,feminine,Zolan,Clawdite
11,Shaak Ti,178.0,57.0,none,"red, blue, white",black,NaN,female,feminine,Shili,Togruta
12,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,masculine,Kalee,Kaleesh
13,Tarfful,234.0,136.0,brown,brown,blue,NaN,male,masculine,Kashyyyk,Wookiee

In [10]:
# To refer to column names that are stored as strings, use `f[...]`:
vars = c("mass", "height")
cond = c(80, 150)
starwars >> \
  filter(
    f[vars[0]] > cond[0],
    f[vars[1]] > cond[1]
  )

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species
0,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human
1,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human
2,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human
3,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human
4,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee
5,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt
6,Jek Tono Porkins,180.0,110.0,brown,fair,blue,NaN,male,masculine,Bestine IV,Human
7,IG-88,200.0,140.0,none,metal,red,15.0,none,masculine,NaN,Droid
8,Bossk,190.0,113.0,none,green,red,53.0,male,masculine,Trandosha,Trandoshan
9,Ackbar,180.0,83.0,none,brown mottle,orange,41.0,male,masculine,Mon Cala,Mon Calamari
10,Qui-Gon Jinn,193.0,89.0,brown,fair,blue,92.0,male,masculine,NaN,Human
11,Nute Gunray,191.0,90.0,none,mottled green,red,NaN,male,masculine,Cato Neimoidia,Neimodian
12,Roos Tarpals,224.0,82.0,none,grey,orange,NaN,male,masculine,Naboo,Gungan
13,Mace Windu,188.0,84.0,none,dark,brown,72.0,male,masculine,Haruun Kal,Human
14,Ki-Adi-Mundi,198.0,82.0,white,pale,yellow,92.0,male,masculine,Cerea,Cerean
15,Kit Fisto,196.0,87.0,none,green,black,NaN,male,masculine,Glee Anselm,Nautolan
16,Gregar Typho,185.0,85.0,black,dark,brown,NaN,male,masculine,Naboo,Human
17,Dexter Jettster,198.0,102.0,none,brown,yellow,NaN,male,masculine,Ojom,Besalisk
18,Lama Su,229.0,88.0,none,grey,black,NaN,male,masculine,Kamino,Kaminoan
19,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,masculine,Kalee,Kaleesh
20,Tarfful,234.0,136.0,brown,brown,blue,NaN,male,masculine,Kashyyyk,Wookiee