In [1]:
# https://dplyr.tidyverse.org/reference/nest_join.html

from datar.datasets import band_members, band_instruments
from datar.all import *

In [2]:
nested = band_members >> nest_join(band_instruments)
nested

   name     band                            band_instruments
0  Mick   Stones  Empty DataFrame
Columns: [plays]
Index: []
1  John  Beatles                             plays
0  guitar
2  Paul  Beatles                               plays
1  bass

In [4]:
nested >> head(2) >> pull(f.band_instruments, to='list')

[Empty DataFrame
 Columns: [plays]
 Index: [],
     plays
 0  guitar]