In [1]:
# https://dplyr.tidyverse.org/reference/nest_join.html

from datar.datasets import band_members, band_instruments
from datar.all import *

%run nb_helpers.py
nb_header(nest_join, book='nest-join')

### # nest_join

##### Returns all rows and columns in x with a new nested-df column that
contains all matches from y

See Also:
&emsp;&emsp;[`inner_join()`](datar.dplyr.join.inner_join)

In [2]:
nested = band_members >> nest_join(band_instruments)
nested

   name     band                            band_instruments
0  Mick   Stones  Empty DataFrame
Columns: [plays]
Index: []
1  John  Beatles                             plays
0  guitar
2  Paul  Beatles                               plays
0  bass

In [3]:
nested >> head(2) >> pull(f.band_instruments, to='list')

[Empty DataFrame
 Columns: [plays]
 Index: [],
     plays
 0  guitar]