In [1]:
# https://dplyr.tidyverse.org/reference/pull.html

from datar.datasets import starwars, mtcars
from datar.all import *

%run nb_helpers.py
nb_header(pull)

### # pull

##### Pull a series or a dataframe from a dataframe

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`var`: The column to pull
&emsp;&emsp;`name`: If specified, a zip object will be return with the name-value
&emsp;&emsp;&emsp;&emsp;pairs. It can be a column name or a list of strs with the same
&emsp;&emsp;&emsp;&emsp;length as the series
&emsp;&emsp;&emsp;&emsp;Only works when pulling `a` for name `a$b`

&emsp;&emsp;`to`: Type of data to return.
&emsp;&emsp;&emsp;&emsp;Only works when pulling `a` for name `a$b`

&emsp;&emsp;&emsp;&emsp;- series: Return a pandas Series object
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Group information will be lost

&emsp;&emsp;&emsp;&emsp;- array: Return a numpy.ndarray object

&emsp;&emsp;&emsp;&emsp;- frame: Return a DataFrame with that column

&emsp;&emsp;&emsp;&emsp;- list: Return a python list

&emsp;&emsp;&emsp;&emsp;- If not provided: `series` when pulled data has only one columns,
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;otherwise `frame`.

##### Returns:
&emsp;&emsp;The data according to `to`

In [2]:
mtcars >> pull(-1)

Mazda RX4              4
Mazda RX4 Wag          4
Datsun 710             1
Hornet 4 Drive         1
Hornet Sportabout      2
Valiant                1
Duster 360             4
Merc 240D              2
Merc 230               2
Merc 280               4
Merc 280C              4
Merc 450SE             3
Merc 450SL             3
Merc 450SLC            3
Cadillac Fleetwood     4
Lincoln Continental    4
Chrysler Imperial      4
Fiat 128               1
Honda Civic            2
Toyota Corolla         1
Toyota Corona          1
Dodge Challenger       2
AMC Javelin            2
Camaro Z28             4
Pontiac Firebird       2
Fiat X1-9              1
Porsche 914-2          2
Lotus Europa           2
Ford Pantera L         4
Ferrari Dino           6
Maserati Bora          8
Volvo 142E             2
Name: carb, dtype: int64

In [3]:
mtcars >> pull(-1, to='list')

[4,
 4,
 1,
 1,
 2,
 1,
 4,
 2,
 2,
 4,
 4,
 3,
 3,
 3,
 4,
 4,
 4,
 1,
 2,
 1,
 1,
 2,
 2,
 4,
 2,
 1,
 2,
 2,
 4,
 6,
 8,
 2]

In [4]:
mtcars >> pull(0)

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

In [5]:
mtcars >> pull(f.cyl)

Mazda RX4              6
Mazda RX4 Wag          6
Datsun 710             4
Hornet 4 Drive         6
Hornet Sportabout      8
Valiant                6
Duster 360             8
Merc 240D              4
Merc 230               4
Merc 280               6
Merc 280C              6
Merc 450SE             8
Merc 450SL             8
Merc 450SLC            8
Cadillac Fleetwood     8
Lincoln Continental    8
Chrysler Imperial      8
Fiat 128               4
Honda Civic            4
Toyota Corolla         4
Toyota Corona          4
Dodge Challenger       8
AMC Javelin            8
Camaro Z28             8
Pontiac Firebird       8
Fiat X1-9              4
Porsche 914-2          4
Lotus Europa           4
Ford Pantera L         8
Ferrari Dino           6
Maserati Bora          8
Volvo 142E             4
Name: cyl, dtype: int64

In [6]:
df = tibble(x=range(1, 11), y=range(10, 0, -1))
df >> mutate(z=f.x*f.y) >> pull()

0    10
1    18
2    24
3    28
4    30
5    30
6    28
7    24
8    18
9    10
Name: z, dtype: int64

In [7]:
list(starwars >> pull(f.height, f.name))

[172.0,
 167.0,
 96.0,
 202.0,
 150.0,
 178.0,
 165.0,
 97.0,
 183.0,
 182.0,
 188.0,
 180.0,
 228.0,
 180.0,
 173.0,
 175.0,
 170.0,
 180.0,
 66.0,
 170.0,
 183.0,
 200.0,
 190.0,
 177.0,
 175.0,
 180.0,
 150.0,
 nan,
 88.0,
 160.0,
 193.0,
 191.0,
 170.0,
 196.0,
 224.0,
 206.0,
 183.0,
 137.0,
 112.0,
 183.0,
 163.0,
 175.0,
 180.0,
 178.0,
 94.0,
 122.0,
 163.0,
 188.0,
 198.0,
 196.0,
 171.0,
 184.0,
 188.0,
 264.0,
 188.0,
 196.0,
 185.0,
 157.0,
 183.0,
 183.0,
 170.0,
 166.0,
 165.0,
 193.0,
 191.0,
 183.0,
 168.0,
 198.0,
 229.0,
 213.0,
 167.0,
 79.0,
 96.0,
 193.0,
 191.0,
 178.0,
 216.0,
 234.0,
 188.0,
 178.0,
 206.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 165.0]