In [1]:
# https://dplyr.tidyverse.org/reference/relocate.html
from pandas import DataFrame
from datar.all import *

%run nb_helpers.py
nb_header(relocate)

### # relocate

##### change column positions

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`*args`: and
&emsp;&emsp;`**kwargs`: Columns to rename and move
&emsp;&emsp;`_before`: and
&emsp;&emsp;`_after`: Destination. Supplying neither will move columns to
&emsp;&emsp;&emsp;&emsp;the left-hand side; specifying both is an error.

##### Returns:
&emsp;&emsp;An object of the same type as .data. The output has the following
&emsp;&emsp;properties:
&emsp;&emsp;- Rows are not affected.
&emsp;&emsp;- The same columns appear in the output, but (usually) in a
&emsp;&emsp;&emsp;&emsp;different place.

&emsp;&emsp;- Data frame attributes are preserved.
&emsp;&emsp;- Groups are not affected

In [2]:
df = DataFrame(
    {'a': [1], 'b': [1], 'c': [1], 'd': ["a"], 'e': ["a"], 'f': ["a"]}
)
df = df[list('abcdef')] # ensure the order
df

   a  b  c  d  e  f
0  1  1  1  a  a  a

In [3]:
df >> relocate(f.f)

[5]

   f  a  b  c  d  e
0  a  1  1  1  a  a

In [4]:
df >> relocate(f.a, _after = f.c)

[0]
[2]

   b  c  a  d  e  f
0  1  1  1  a  a  a

In [5]:
df >> relocate(f.f, _before = f.b)

[5]
[1]

   a  f  b  c  d  e
0  1  a  1  1  a  a

In [6]:
df >> relocate(f.a, _after = last_col())

[0]
[5]

   b  c  d  e  f  a
0  1  1  a  a  a  1

In [7]:
df >> relocate(where(is_character))

[3, 4, 5]

   d  e  f  a  b  c
0  a  a  a  1  1  1

In [8]:
df >> relocate(where(is_numeric), _after = last_col())

[0, 1, 2]
[5]

   d  e  f  a  b  c
0  a  a  a  1  1  1

In [9]:
df >> relocate(any_of(c("a", "e", "i", "o", "u")))

[0, 4]

   a  e  b  c  d  f
0  1  a  1  1  a  a

In [10]:
df2 = DataFrame({'a': [1], 'b': ["a"], 'c': [1], 'd': ["a"]})
df2 = df2[list('abcd')]
df2

   a  b  c  d
0  1  a  1  a

In [11]:
df2 >> relocate(where(is_numeric), _after = where(is_character))

[0, 2]
[1, 3]

   b  d  a  c
0  a  a  1  1

In [12]:
df2 >> relocate(where(is_numeric), _before = where(is_character))

[0, 2]
[1, 3]

   a  c  b  d
0  1  1  a  a