In [8]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

from nb_helpers import nb_header
nb_header(rowwise)

### # rowwise

##### Compute on a data frame a row-at-a-time

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*columns`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.424215  0.041637  0.314668  0.260173
1  0.926114  0.958485  0.684282  0.856294
2  0.399759  0.463713  0.202192  0.355221
3  0.527802  0.586547  0.393177  0.502509
4  0.398218  0.901156  0.745950  0.681775
5  0.103962  0.027151  0.350478  0.160530

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.424215  0.041637  0.314668  0.260173
1  0.926114  0.958485  0.684282  0.856294
2  0.399759  0.463713  0.202192  0.355221
3  0.527802  0.586547  0.393177  0.502509
4  0.398218  0.901156  0.745950  0.681775
5  0.103962  0.027151  0.350478  0.160530

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.424215  0.041637  0.314668  0.041637
1  0.926114  0.958485  0.684282  0.684282
2  0.399759  0.463713  0.202192  0.202192
3  0.527802  0.586547  0.393177  0.393177
4  0.398218  0.901156  0.745950  0.398218
5  0.103962  0.027151  0.350478  0.027151

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.424215  0.041637  0.314668  0.041637
1  0.926114  0.958485  0.684282  0.684282
2  0.399759  0.463713  0.202192  0.202192
3  0.527802  0.586547  0.393177  0.393177
4  0.398218  0.901156  0.745950  0.398218
5  0.103962  0.027151  0.350478  0.027151

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.424215  0.041637  0.314668  0.041637
1  0.926114  0.958485  0.684282  0.684282
2  0.399759  0.463713  0.202192  0.202192
3  0.527802  0.586547  0.393177  0.393177
4  0.398218  0.901156  0.745950  0.398218
5  0.103962  0.027151  0.350478  0.027151

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=[rnorm(f.n, f.mean, f.sd)]) >> display()

[2021-04-08 15:48:54][datar][   INFO] `summarise()` has grouped output by ['sim']. You can override using the `_groups` argument.
[2021-04-08 15:48:54][datar][   INFO] # [DataFrameGroupBy] Groups: ['sim'] (3)

   sim                                                  z
0    1                               [2.1047719999793957]
0    2           [-1.5561228859820737, 7.283066608595546]
0    3  [-0.39313058402480405, -3.0069414240878345, -0...