In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

%run nb_helpers.py
nb_header(rowwise)

### # rowwise

##### Compute on a data frame a row-at-a-time

##### Args:
&emsp;&emsp;`_data`: The dataframe
&emsp;&emsp;`*columns`: Variables to be preserved when calling summarise().
&emsp;&emsp;&emsp;&emsp;This is typically a set of variables whose combination
&emsp;&emsp;&emsp;&emsp;uniquely identify each row.

##### Returns:
&emsp;&emsp;A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.818427
1  0.262603  0.515239  0.663813  0.480552
2  0.937178  0.246736  0.756363  0.646759
3  0.275029  0.674783  0.597270  0.515694
4  0.559743  0.306036  0.372108  0.412629
5  0.508016  0.866988  0.809208  0.728070
[Rowwise: []]

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.818427
1  0.262603  0.515239  0.663813  0.480552
2  0.937178  0.246736  0.756363  0.646759
3  0.275029  0.674783  0.597270  0.515694
4  0.559743  0.306036  0.372108  0.412629
5  0.508016  0.866988  0.809208  0.728070
[Rowwise: []]

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.649909
1  0.262603  0.515239  0.663813  0.262603
2  0.937178  0.246736  0.756363  0.246736
3  0.275029  0.674783  0.597270  0.275029
4  0.559743  0.306036  0.372108  0.306036
5  0.508016  0.866988  0.809208  0.508016
[Rowwise: []]

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.649909
1  0.262603  0.515239  0.663813  0.262603
2  0.937178  0.246736  0.756363  0.246736
3  0.275029  0.674783  0.597270  0.275029
4  0.559743  0.306036  0.372108  0.306036
5  0.508016  0.866988  0.809208  0.508016
[Rowwise: []]

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.649909  0.887934  0.917438  0.649909
1  0.262603  0.515239  0.663813  0.262603
2  0.937178  0.246736  0.756363  0.246736
3  0.275029  0.674783  0.597270  0.275029
4  0.559743  0.306036  0.372108  0.306036
5  0.508016  0.866988  0.809208  0.508016

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=[rnorm(f.n, f.mean, f.sd)])

[2021-04-16 17:54:57][datar][   INFO] `summarise()` has grouped output by ['sim'] (override with `_groups` argument)

   sim                                                  z
0    1                               [0.8332758706092843]
1    2           [3.9275351670001015, 10.698725259535205]
2    3  [2.2396585254564743, 0.4293838633413469, 0.542...
[Groups: ['sim'] (n=3)]