In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

print(rowwise.__doc__)

Compute on a data frame a row-at-a-time

    Args:
        _data: The dataframe
        *columns:  Variables to be preserved when calling summarise().
            This is typically a set of variables whose combination
            uniquely identify each row.

    Returns:
        A row-wise data frame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.888912  0.317292  0.826542  0.677582
1  0.683771  0.228575  0.344580  0.418975
2  0.641990  0.626599  0.560846  0.609811
3  0.260390  0.351010  0.143023  0.251475
4  0.012773  0.541104  0.523489  0.359122
5  0.598446  0.525574  0.431912  0.518644

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.888912  0.317292  0.826542  0.677582
1  0.683771  0.228575  0.344580  0.418975
2  0.641990  0.626599  0.560846  0.609811
3  0.260390  0.351010  0.143023  0.251475
4  0.012773  0.541104  0.523489  0.359122
5  0.598446  0.525574  0.431912  0.518644

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.888912  0.317292  0.826542  0.317292
1  0.683771  0.228575  0.344580  0.228575
2  0.641990  0.626599  0.560846  0.560846
3  0.260390  0.351010  0.143023  0.143023
4  0.012773  0.541104  0.523489  0.012773
5  0.598446  0.525574  0.431912  0.431912

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.888912  0.317292  0.826542  0.317292
1  0.683771  0.228575  0.344580  0.228575
2  0.641990  0.626599  0.560846  0.560846
3  0.260390  0.351010  0.143023  0.143023
4  0.012773  0.541104  0.523489  0.012773
5  0.598446  0.525574  0.431912  0.431912

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.888912  0.317292  0.826542  0.317292
1  0.683771  0.228575  0.344580  0.228575
2  0.641990  0.626599  0.560846  0.560846
3  0.260390  0.351010  0.143023  0.143023
4  0.012773  0.541104  0.523489  0.012773
5  0.598446  0.525574  0.431912  0.431912

In [8]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=[rnorm(f.n, f.mean, f.sd)]) >> display()

[2021-04-06 23:42:56][datar][   INFO] `summarise()` has grouped output by ['sim']. You can override using the `_groups` argument.
[2021-04-06 23:42:56][datar][   INFO] # [DataFrameGroupBy] Groups: ['sim'] (3)

   sim                                                  z
0    1                               [0.9996658184501107]
0    2            [4.435399346334073, 1.7221520588327917]
0    3  [0.9233950658821094, 1.3154177668657419, 0.873...