In [1]:
# https://dplyr.tidyverse.org/reference/rowwise.html

from datar.datasets import iris
from datar.all import *

print(rowwise.__doc__)

Compute on a data frame a row-at-a-time

    Note:
        If the dataframe is grouped, the group information will be lost

    Args:
        _data: The dataframe
        *columns:  Variables to be preserved when calling summarise().
            This is typically a set of variables whose combination
            uniquely identify each row.

    Returns:
        A row-wise data frame with class RowwiseDataFrame

In [2]:
df = tibble(x=runif(6), y=runif(6), z=runif(6))

df >> rowwise() >> mutate(m=mean(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.207182  0.775956  0.716505  0.566547
1  0.018530  0.290807  0.529306  0.279548
2  0.961323  0.284082  0.775503  0.673636
3  0.147393  0.218309  0.329808  0.231837
4  0.728893  0.854498  0.338264  0.640551
5  0.936855  0.511481  0.655433  0.701256

In [3]:
df >> rowwise() >> mutate(m=mean(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.207182  0.775956  0.716505  0.566547
1  0.018530  0.290807  0.529306  0.279548
2  0.961323  0.284082  0.775503  0.673636
3  0.147393  0.218309  0.329808  0.231837
4  0.728893  0.854498  0.338264  0.640551
5  0.936855  0.511481  0.655433  0.701256

In [4]:
df >> rowwise() >> mutate(m=min(c_across([f.x, f.y, f.z])))

          x         y         z         m
0  0.207182  0.775956  0.716505  0.207182
1  0.018530  0.290807  0.529306  0.018530
2  0.961323  0.284082  0.775503  0.284082
3  0.147393  0.218309  0.329808  0.147393
4  0.728893  0.854498  0.338264  0.338264
5  0.936855  0.511481  0.655433  0.511481

In [5]:
df >> rowwise() >> mutate(m=min(c_across(f[f.x:f.z])))

          x         y         z         m
0  0.207182  0.775956  0.716505  0.207182
1  0.018530  0.290807  0.529306  0.018530
2  0.961323  0.284082  0.775503  0.284082
3  0.147393  0.218309  0.329808  0.147393
4  0.728893  0.854498  0.338264  0.338264
5  0.936855  0.511481  0.655433  0.511481

In [6]:
df >> mutate(m = pmin(f.x, f.y, f.z))

          x         y         z         m
0  0.207182  0.775956  0.716505  0.207182
1  0.018530  0.290807  0.529306  0.018530
2  0.961323  0.284082  0.775503  0.284082
3  0.147393  0.218309  0.329808  0.147393
4  0.728893  0.854498  0.338264  0.338264
5  0.936855  0.511481  0.655433  0.511481

In [7]:
params = tibble(
    sim=[1, 2, 3],
    n=[1, 2, 3],
    mean=[1, 2, 1],
    sd=[1, 4, 2]
)

params >> rowwise(f.sim) >> summarise(z=rnorm(f.n, f.mean, f.sd))

   sim                                                  z
0    1  [[1.8630289808905562, 6.227432483149737, 2.341...
1    2  [[1.8630289808905562, 6.227432483149737, 2.341...
2    3  [[1.8630289808905562, 6.227432483149737, 2.341...