In [1]:
# https://tidyr.tidyverse.org/reference/separate.html

from datar.all import *

In [2]:
df = tibble(x=c(NA, "x.y", "x.z", "y.z"))
df >> separate(f.x, c("A", "B"))

     A    B
0  NaN  NaN
1    x    y
2    x    z
3    y    z

In [3]:
df >> separate(f.x, c(NA, "B"))

     B
0  NaN
1    y
2    z
3    z

In [4]:
df = tibble(x=c("x", "x y", "x y z", NA))
df >> separate(f.x, c("a", "b"))

[2021-03-13 00:44:11][datar][WARNING] Expected 2 pieces. Additional pieces discarded in 1 rows [2].
[2021-03-13 00:44:11][datar][WARNING] Expected 2 pieces. Missing pieces filled with `NA` in 1 rows [0].

     a    b
0    x  NaN
1    x    y
2    x    y
3  NaN  NaN

In [5]:
df >> separate(f.x, c("a", "b"), extra="drop", fill="right")

     a    b
0    x  NaN
1    x    y
2    x    y
3  NaN  NaN

In [6]:
df >> separate(f.x, c("a", "b"), extra="merge", fill="left")

     a    b
0  NaN    x
1    x    y
2    x  y z
3  NaN  NaN

In [7]:
df >> separate(f.x, c("a", "b", "c"))

[2021-03-13 00:44:11][datar][WARNING] Expected 3 pieces. Missing pieces filled with `NA` in 2 rows [0, 1].

     a    b    c
0    x  NaN  NaN
1    x    y  NaN
2    x    y    z
3  NaN  NaN  NaN

In [8]:
df = tibble(x=c("x: 123", "y: error: 7"))
df >> separate(f.x, c("key", "value"), ": ", extra="merge")

  key     value
0   x       123
1   y  error: 7

In [9]:
df = tibble(x=c(NA, "x?y", "x.z", "y:z"))
df >> separate(f.x, c("A","B"), sep=r"[.?:]")

     A    B
0  NaN  NaN
1    x    y
2    x    z
3    y    z

In [10]:
df = tibble(x=c("x:1", "x:2", "y:4", "z", NA))
df >> separate(f.x, c("key","value"), ":")

[2021-03-13 00:44:12][datar][WARNING] Expected 2 pieces. Missing pieces filled with `NA` in 1 rows [3].

   key value
0    x     1
1    x     2
2    y     4
3    z   NaN
4  NaN   NaN

In [11]:
df >> separate(f.x, c("key","value"), ":", convert={'value': float})

[2021-03-13 00:44:12][datar][WARNING] Expected 2 pieces. Missing pieces filled with `NA` in 1 rows [3].

   key  value
0    x    1.0
1    x    2.0
2    y    4.0
3    z    NaN
4  NaN    NaN

In [12]:
_.value.dtype

dtype('float64')

In [13]:
df = tibble(
  x=[1,2,3],
  y=c("a", "d,e,f", "g,h"),
  z=c("1", "2,3,4", "5,6")
)

In [14]:
df >> separate_rows(f.y, f.z, convert={'z': int})

   x  y  z
0  1  a  1
1  2  d  2
1  2  e  3
1  2  f  4
2  3  g  5
2  3  h  6

In [15]:
_.z.dtype

dtype('int64')