In [1]:
# https://tidyr.tidyverse.org/reference/uncount.html

from datar.all import *

from nb_helpers import nb_header
nb_header(uncount)

### # uncount

##### Duplicating rows according to a weighting variable

##### Args:
&emsp;&emsp;`_data`: A data frame
&emsp;&emsp;`weights`: A vector of weights. Evaluated in the context of data
&emsp;&emsp;`_remove`: If TRUE, and weights is the name of a column in data,
&emsp;&emsp;&emsp;&emsp;then this column is removed.

&emsp;&emsp;`_id`: Supply a string to create a new variable which gives a
&emsp;&emsp;&emsp;&emsp;unique identifier for each created row (0-based).

##### Returns:
&emsp;&emsp;dataframe with rows repeated.

In [2]:
df = tibble(x = c("a", "b"), n = c(1, 2))
df >> uncount(f.n)

   x
0  a
1  b
1  b

In [3]:
df >> uncount(f.n, _id="id")

   x  id
0  a   0
1  b   0
1  b   1

In [4]:
uncount(df, 2)

   x  n
0  a  1
0  a  1
1  b  2
1  b  2

In [5]:
df >> uncount(2//f.n)

   x  n
0  a  1
0  a  1
1  b  2