In [1]:
# https://tidyr.tidyverse.org/reference/unite.html

from datar.all import *

from nb_helpers import nb_header
nb_header(unite)

### # unite

##### Unite multiple columns into one by pasting strings together

##### Args:
&emsp;&emsp;`data`: A data frame.
&emsp;&emsp;`col`: The name of the new column, as a string or symbol.
&emsp;&emsp;`*columns`: Columns to unite
&emsp;&emsp;`sep`: Separator to use between values.
&emsp;&emsp;`remove`: If True, remove input columns from output data frame.
&emsp;&emsp;`na_rm`: If True, missing values will be remove prior to uniting
&emsp;&emsp;&emsp;&emsp;each value.

##### Returns:
&emsp;&emsp;The dataframe with selected columns united

In [2]:
df = expand_grid(x=c("a", NA), y=c("b", NA))
df

     x    y
0    a    b
1    a  NaN
2  NaN    b
3  NaN  NaN

In [3]:
df >> unite("z", f[f.x:f.y], remove=False)

     x    y        z
0    a    b      a_b
1    a  NaN    a_nan
2  NaN    b    nan_b
3  NaN  NaN  nan_nan

In [4]:
df >> unite("z", f[f.x:f.y], na_rm=True, remove=False)

     x    y    z
0    a    b  a_b
1    a  NaN    a
2  NaN    b    b
3  NaN  NaN

In [5]:
df >> \
  unite("xy", f[f.x:f.y]) >> \
  separate(f.xy, c("x", "y"))

     x    y
0    a    b
1    a  nan
2  nan    b
3  nan  nan